extends base 

block content   
  main.main
    .error
      .error__title
        h5.heading-secondary.heading-secondary--error Uh oh! Something went wrong!   
        h5.error__emoji 😢 🤯
      .error__msg= msg